<%= simple_nested_form_for(@purchase, html: { class: 'form-horizontal' }, remote: true) do |f| %>
  <div id="errors"></div>
  <%= f.input :purchase_date %>
  <%= f.fields_for :market, wrapper: false do |n| %>
    <%= n.input(:name, placeholder: Purchase.human_attribute_name(:market), input_html: {autocomplete: "off"}) %>
  <% end %>
  <legend><%= Product.model_name.human.pluralize %></legend>
  <div id="lines">
    <%= f.fields_for :purchase_lines %>
  </div>
  <div class="row">
    <div class="col-md-1 col-md-offset-11">
      <%= f.link_to_add "+", :purchase_lines, "data-target" => '#lines' , class: "btn btn-success" %>
      </div>
  </div>
  <%= f.button :submit, data: {disable_with: "Guardando..."} %>
<% end %>

<script>
  <%= raw render "typeahead_input", values: @markets, dom_selector: "#purchase_market_attributes_name" %>
</script>
