<div class="row product-line">
  <%= f.hidden_field :id %>
  <div class="col-md-2">
    <%= f.input :quantity, wrapper: :horizontal_purchase_line, placeholder: "Cantidad",  autocomplete: "off" %>
  </div>
  <div class="col-md-4">
    <%= f.simple_fields_for :product, wrapper: false do |product_form| %>
      <%= product_form.input :name, wrapper: :horizontal_purchase_line, placeholder: "Producto", autocomplete: "off",  input_html: {"data-provide" => "product-typeahead" } %>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= f.simple_fields_for :brand, wrapper: false do |brand_form| %>
    <%= brand_form.input :name, wrapper: :horizontal_purchase_line, placeholder: "Marca", autocomplete: "off",  input_html: {"data-provide" => "brand-typeahead" } %>
    <% end %>
  </div>
  <div class="col-md-2">
    <%= f.input :price, wrapper: :horizontal_purchase_line, placeholder: "Precio", autocomplete: "off", class: "form-control" %>
  </div>
  <div class="col-md-1">
    <%= f.link_to_remove "-", class: "btn btn-danger"  %>
  </div>
</div>
