<%= form_for @spend, :html => {:class => "form-horizontal"}, :remote => true do |f| %>
<div id="errors">	
</div>
<fieldset>
	<div class="control-group">
		<%= f.label :spend_date, :class => "control-label" %>
		<div class="controls">			
			<%= f.text_field :spend_date, "data-date-format" => "dd/mm/yy", :id => "datepicker" %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :titulo, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :titulo %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :ammount, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :ammount %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label "Marcas", :class => "control-label" %>
		<div class="controls">
			<%= text_field_tag "tags_listing", to_tags_listing(@spend.tags) %>
		</div>
	</div>
	<div class="form-actions">
		<%= f.submit %>
	</div>
</fieldset>
<% end %> 