<%= simple_form_for(@spend, html: { class: 'form-horizontal' }, remote: true) do |f| %>
  <%= f.input :month, as: :fake_hidden , input_html: {value: @period.month} %>
  <%= f.input :year, as: :fake_hidden, input_html:{ value: @period.year }%>
  <%= f.input :needs_confirmation, as: :boolean %>
  <%= f.input :spend_date %>
  <%= f.input :titulo %>
  <%= f.input :amount, as: :money, wrapper: :horizontal_currency%>
  <%= f.input :tags_listing, input_html: { value: to_tags_listing(@tags), "data-provide" => "tag" } %>
  <%= f.button :submit, data: {disable_with: "Guardando..."} %>
<% end %> 
<div id="errors"></div>
<script>
  $("#spend_needs_confirmation").click(function(){
    $("#spend_spend_date_3i").toggle(!this.checked);
    $("#spend_spend_date_3i").val("1"); 
  });

  $(".spend_spend_date").show(function(){
    $("#spend_spend_date_3i").toggle(!$("#spend_needs_confirmation").prop('checked')); 
  });
  var values = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: $.map(<%= raw @all_tags.collect(&:name).to_json %>, function(tag) { return { value: tag }; })
  });
  values.initialize();
  $("#spend_tags_listing").tag({source: values.ttAdapter()});
</script>
