<%= bootstrap_form_for(@spend, html: { class: 'form-horizontal' }, help: :block, :remote => true) do |f| %>
	<%= f.date_select :spend_date %>
  <%= f.text_field :titulo %>
  <%= f.text_field :ammount %>
  <%= f.control_group :tags, label: { text: 'Marcas' } do %>
  <%= text_field_tag "tags_listing", to_tags_listing(@spend.tags) %>
  <% end %>
  <%= f.actions do %>
    <%= f.primary 'Guardar', disable_with: 'Saving...' %>
  <% end %>
<% end %> 
<div id="errors">      
</div>
