<%= link_to "Inicio" %><br/><br/>
<%= form_tag spends_path, :method => 'get' do %>
<%= select_date @period_date, :prefix => :period, :order => [:month, :year]  %><br/>
<%= submit_tag "Cambiar" %>
<% end %>
<table class="cuscosky">
  <caption>Lista de gastos</caption>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Titulo</th>
      <th>Monto</th>
      <th>Marcas</th>
      <th></th>
      <th></th>
      <th/>
    </tr>
  </thead>
  <tbody>
    <% @spends.each_with_index do |spend, i| %>
      <tr <%= raw('class="odd"') if i%2 == 1 %> >
	<td><%= spend.date %></td>
	<td><%= spend.titulo %></td>
	<td><%= number_to_currency(spend.ammount, :unit => "$") %></td>
	<td><%= raw(to_tags_links_listing(spend.tags)) %></td>
	<td><%= link_to 'Show', spend %></td>
	<td><%= link_to 'Edit', edit_spend_path(spend) %></td>
	<td><%= link_to 'Destroy', spend, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2" >Monto final</td>
      <td><%= number_to_currency(@sum, :unit => "$") %>
      <td/>
      <td/>
      <td/>
      <td/>
    </tr>
  </tfoot>
</table>

<br />

<%= link_to 'Nuevo gasto', new_spend_path %>

