<div class="row-fluid">
	<div class="span12" >
		<%= form_tag spends_path, :method => 'get' do %>
		<div class="row-fluid">
			<div class="span6">
				<%= select_date @period_date, :prefix => :period, :order => [:month, :year]  %>
			</div>
			<div class="span6">
				<%= submit_tag "Cambiar" %>
			</div>
		</div>
		<% end %>
	</div>
</div>
<div class="row-fluid">
	<div class="span12" >
		<h1>Lista de gastos</h1>
	</div>
</div>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Fecha</th>
			<th>Titulo</th>
			<th>Monto</th>
			<th>Marcas</th>
			<th/>
			<th/>
			<th/>
		</tr>
	</thead>
	<tbody>
		<% @spends.each_with_index do |spend, i| %>
		<tr>
			<td><%= spend.date %></td>
			<td><%= spend.titulo %></td>
			<td><%= number_to_currency(spend.ammount, :unit => "$") %></td>
			<td><%= raw(to_tags_links_listing(spend.tags)) %></td>
			<td><%= link_to 'Show', spend %></td>
			<td><%= link_to 'Edit', edit_spend_path(spend) %></td>
			<td><%= link_to 'Destroy', spend, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
		<% end %>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2" >Monto final</td>
			<td><%= number_to_currency(@sum, :unit => "$") %> <td/>
			<td/>
			<td/>
			<td/>
		</tr>
	</tfoot>
</table>
<%= link_to 'Nuevo gasto', new_spend_path %> 