<%= form_tag spends_path, :method => 'get', :class => "form-inline" do %>
<%= select_date @period_date, :prefix => :period, :order => [:month, :year]  %>
<%= submit_tag "Cambiar" %>
<% end %>
<div class="page-header">
	<h1>Lista de gastos</h1>
</div>
<div class="modal hide" id="crud_modal"> <div id="crud_content"></div></div>
<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>Fecha</th>
			<th>Titulo</th>
			<th>Monto</th>
			<th>Marcas</th>
			<th/>
		</tr>
	</thead>
	<tbody>
		<% @spends.each_with_index do |spend, i| %>
		<tr>
			<td><%= spend.date %></td>
			<td><%= spend.titulo %></td>
			<td><%= number_to_currency(spend.ammount, :unit => "$") %></td>
			<td><%= raw(to_tags_links_listing(spend.tags)) %></td>
			<td>
			<div class="btn-group">
				<%= link_to 'Edit', edit_spend_path(spend), :class => "btn" %>
				<%= link_to 'Destroy', spend, :confirm => 'Are you sure?', :method => :delete, :class => "btn" %>
			</div></td>
		</tr>
		<% end %>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2" >Monto final</td>
			<td colspan="3"><%= number_to_currency(@sum, :unit => "$") %> </td>
		</tr>
	</tfoot>
</table>
<div class="btn-group">
	<%= link_to 'Nuevo gasto', new_spend_path, :class => "btn", :remote => true %>
</div> 