<!DOCTYPE html>
<html>
<head>
  <title>EcoFamily</title>
  <%= stylesheet_link_tag "cuscosky", "default" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body class="centered">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
