<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="author" content="Enzo Cappa">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoFamily</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= nav_bar responsive: true do %>
        <%= menu_group do %>
          <%= menu_item "Gastos", spends_path, {}, {"data-remote" => true} %>
          <%= menu_item "Compras", purchases_path, {}, {"data-remote" => true} %>
          <%= menu_item "Productos", products_path %>
        <% end %>
        <%= menu_group pull: :right do %>
          <%= menu_item "Salir", destroy_user_session_path, method: :delete %>
        <% end %>
      <% end %>
    <% end %>
    <div class="container-fluid">
      <% flash.each do |type, message| %>
      <div class="row-fluid">
        <div class="alert <%= bootstrap_class_for(type) %> fade in">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= message %>
        </div>
      </div>
      <% end %>
      <div id="page-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
